    {% load static %}
    {% load carts_tags %}
    {% user_carts request as carts %}


    {% for cart in carts %}
    <!-- Разметка корзины -->
    <div class="card mb-3 text-bg-light shadow-lg">
        <div class="card-header">
            <h5 class="card-title">{{ cart.product.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col p-0">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a href="{% url 'cart:decrement' cart.id %}" class="btn btn-dark btn-sm decrement"
                                    data-cart-id="" data-cart-change-url="">-</a>
                            </span>
                            <input type="text" class="form-control number" value="{{ cart.quantity }}"
                                readonly>
                            <span class="input-group-btn">
                                <a href="{% url 'cart:increment' cart.id %}" class="btn btn-dark btn-sm increment"
                                    data-cart-id="" data-cart-change-url="">+</a>
                            </span>
                        </div>
                    </div>
                    <div class="col p-0">
                        <p>{{cart.quantity}} x {{cart.product.price_disc}} = </p>
                    </div>
                    <div class="col p-0"><strong>{{ cart.product_price }} руб.</strong></div>
                    <div class="col p-0">
                        <a href="{% url 'cart:remove' cart.id %}" class="remove-from-cart" data-cart-id="">
                            <img class="mx-1" src="{% static 'deps/icons/trash3-fill.svg' %}"
                                alt="Catalog Icon" width="16" height="16">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    {% empty %}<div class="card mb-3 text-bg-light shadow-lg text-center">
        <div class="card-body">
            <p class="mb-0">Корзина пуста!</p>
        </div>
    </div>{% endfor %}
    {% if carts %}
        <div class="card mb-3 shadow-lg">
            <div class="card-footer">
                <p class="float-left">Итого <strong>{{ carts.total_quantity }}</strong> товар{% if carts.total_quantity == 1 %}{% elif carts.total_quantity <= 4 %}а{% else %}ов{% endif %} на сумму</p>
                <h4 class="float-left"><strong>{{ carts.total_price }} руб.</strong></h4>
            </div>
        </div>
        <!-- Закончилась разметка корзины -->
    {% endif %}